form {
  width: 350px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
}
form:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

form div {
  margin-bottom: 20px;
}

label {
  font-size: 14px;
  display: block;
  color: #555;
  margin-bottom: 8px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

input[type="text"], input[type="submit"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 15px;
  outline: none;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

input[type="text"]:focus {
  border-color: #4caf50;
  background-color: #f9f9f9;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #45a049;
  transform: translateY(-3px);
}

.error-msg {
  color: #d32f2f;
  font-size: 13px;
  margin-top: 5px;
}

.input-err {
  border-color: #d32f2f;
  background-color: #ffebee;
  padding: 1vw ;

}

input[type="text"].input-err:focus {
  background-color: #ffe6e6;
}

