.navigation{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    border: 2px solid red;
    padding: 0 30px;
}
.navigation>ul{
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
}
.logo>img{
    width: 100px;
    
}
.navigation ul li{
    font-size: 20px;
    text-transform: uppercase;

}